Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

docs(web): update README to Cloudflare Pages (drop GitHub Pages refs)
  web/frontend/README.md
Due: prettier --write

ci: nudge workflows (update BUILD_TRIGGER timestamp)
  BUILD_TRIGGER.md
Due: prettier --write

ci: nudge workflows for PR #17 (update BUILD_TRIGGER timestamp)
  BUILD_TRIGGER.md
Due: prettier --write

docs: add Tauri v2 migration plan
  docs/TAURI_V2_MIGRATION.md
Due: prettier --write

chore: make MCP status non-fatal when VS Code CLI missing; remove unused import; doc status update for Tauri v2 migration
  .vscode/tasks.json
  docs/TAURI_V2_MIGRATION.md
  package-lock.json
  package.json
  scripts/mcp-status.sh
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/scrape.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.windows.conf.json
  src/App.tsx
  src/services/cacheService.ts
  src/services/tauriService.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

build: enable Linux artifacts (AppImage/Deb/RPM) alongside Windows MSI; docs heading fixes\n\nAI Generated: GitHub Copilot - 2025-08-12
  docs/TAURI_V2_MIGRATION.md
  src-tauri/tauri.conf.json
  src-tauri/tauri.linux.conf.json
Due: prettier --write

fix(msi): bind Start Menu shortcut to installed File element instead of hardcoded target\n\nAI Generated: GitHub Copilot - 2025-08-12
  src-tauri/wix/main.wxs
Due: none

chore(msi): place Start Menu shortcut at top-level (ProgramMenuFolder), no subfolder\n\nAI Generated: GitHub Copilot - 2025-08-12
  src-tauri/wix/main.wxs
Due: none

chore(release): bump version to 1.1.0 (Cargo, Tauri configs, npm, WiX); update UA to 1.1\n\nAI Generated: GitHub Copilot - 2025-08-12
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.linux.conf.json
  src-tauri/wix/main.wxs
Due: prettier --write, rustfmt --edition 2021

docs: update README downloads to v1.1.0 and fix markdown lint\n\nchore: update Rust header branding to BoxdBuddy\n\nAI-Generated: GitHub Copilot (2025-08-13)
  README.md
  src-tauri/src/main.rs
Due: prettier --write, rustfmt --edition 2021

chore(vscode): dedupe tasks.json (single Health Check, single Rust Check)\n\nAI Generated: GitHub Copilot - 2025-08-12
  .vscode/tasks.json
Due: prettier --write

chore: rename to BoxdBuddy, MSI autorun + Start Menu shortcut, version 1.1.0 (#42)
  .github/workflows/pr-conversation-handler.yml
  .vscode/tasks.json
  README.md
  index.html
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/db.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.linux.conf.json
  src-tauri/tauri.windows.conf.json
  src-tauri/wix/main.wxs
  src/App.tsx
  src/services/cacheService.ts
  src/services/tauriService.ts
  tests/e2e/letterboxd-scraping.spec.ts
  tests/smoke/app-smoke.spec.ts
  web/frontend/index.html
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix(security): input validation, hardened URL builder, retry/backoff\n\nAI Generated: GitHub Copilot - 2025-08-13
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/net.rs
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

ci(codeql): add CodeQL advanced workflow for rust and javascript\n\nAI Generated: GitHub Copilot - 2025-08-13
  .github/workflows/codeql.yml
Due: none

refactor(net): cache regex with once_cell::Lazy; name backoff constants; remove magic numbers\n\nAI Generated: GitHub Copilot - 2025-08-13
  src-tauri/Cargo.toml
  src-tauri/src/net.rs
Due: rustfmt --edition 2021

ci(codeql): add CodeQL advanced workflow (rust + javascript) (#44)
  .github/workflows/codeql.yml
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/net.rs
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

ci(codeql): ensure rust builds from src-tauri and setup Node for JS analysis to fix failing checks
  .github/workflows/codeql.yml
Due: none

ci(codeql): ensure rust builds from src-tauri and setup Node for JS analysis to fix failing checks (#45)
  .github/workflows/codeql.yml
Due: none

fix(security): input validation, hardened URL builder, retry/backoff (#43)
  src-tauri/src/net.rs
Due: rustfmt --edition 2021

ci: remove obsolete GitHub Pages workflow (Cloudflare-only deploys)
  .github/workflows/deploy-web-frontend.yml
Due: none

ci(release): generate checksums and publish artifacts; add per-user MSI smoke test; README integrity + optional signature docs\n\n- AI Generated: GitHub Copilot - 2025-08-14
  .github/workflows/release.yml
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

ci: release checksums + per-user MSI smoke test (conflict-free replacement for PR #17) (#48)
  .github/workflows/release.yml
Due: none

ci(msi): make per-user MSI verification workflow manual-only; add AI attribution\n\n- Aligns with release PR docs (smoke test runs on demand)\n\n- AI Generated: GitHub Copilot - 2025-08-13
  .github/workflows/windows-peruser-msi-test.yml
Due: none

ci(release): checksums + artifact publishing; per-user MSI smoke test; README integrity; optional signature docs (#49)
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
Due: none

fix(backend): preserve legacy data dir and DB filename; migrate friends.db → boxdbuddies.db; correct scrape profile display-name call (no removed Tauri APIs)
  src-tauri/src/db.rs
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

chore(license): add AGPL-3.0 header to scrape.rs\n\nAI Generated: GitHub Copilot - 2025-08-11
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

refactor(tauri): extract commands; simplify main.rs; scrape perf improvements + test (#50)
  .github/workflows/release.yml
  src-tauri/src/commands.rs
  src-tauri/src/db.rs
  src-tauri/src/main.rs
  src-tauri/src/models.rs
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

refactor(backend): add tmdb module foundation (models, URL builders, parse helpers, tests); wire module; add AGPL headers
  src-tauri/src/main.rs
  src-tauri/src/tmdb.rs
Due: rustfmt --edition 2021

chore(scrape): pass &String to extract_display_name (avoid as_str())\n\nAI Generated: GitHub Copilot - 2025-08-15
  src-tauri/src/models.rs
  src-tauri/src/scrape.rs
  src-tauri/src/tmdb.rs
Due: rustfmt --edition 2021

PR B — backend TMDB client: models, URL builders, parse helpers, tests (no runtime change) (#51)
  src-tauri/src/main.rs
  src-tauri/src/models.rs
  src-tauri/src/scrape.rs
  src-tauri/src/tmdb.rs
  src-tauri/src/tmdb_client.rs
Due: rustfmt --edition 2021

chore(lint): remove deprecated .eslintignore (using flat-config ignores)\n\nAI Generated: GitHub Copilot - 2025-08-15
  .eslintignore
Due: none

build(eslint): remove deprecated .eslintignore in favor of flat-config ignores\n\nAI Generated: GitHub Copilot - 2025-08-15
  .codacy/codacy.yaml
  .vscode/tasks.json
Due: prettier --write

refactor(tmdb): safe URL builders + minimal backend command and opt‑in frontend flag (#52)
  .codacy/codacy.yaml
  .codacy/exclusions.yaml
  .vscode/tasks.json
  README.md
  eslint.config.js
  jest.config.json
  package-lock.json
  package.json
  scripts/README.md
  src-tauri/src/main.rs
  src-tauri/src/scrape.rs
  src-tauri/src/tmdb.rs
  src-tauri/src/tmdb_client.rs
  src/services/__tests__/tmdbService.minimal.test.ts
  src/services/tmdbService.ts
  src/services/tmdbService.vitest.test.ts
  src/vite-env.d.ts
  tests/vitest/tmdbService.vitest.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore(dead-code): remove blanket allow in tmdb.rs, gate details URL helper under feature; add dead-code scan script and npm task\n\nAI Generated: GitHub Copilot - 2025-08-15
  .vscode/tasks.json
  package.json
  scripts/dead-code-scan.ps1
  src-tauri/Cargo.toml
  src-tauri/src/tmdb.rs
Due: prettier --write, rustfmt --edition 2021
