Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

fix: tighten tmdb sync typing and db contracts
  functions/admin/tmdb-sync/index.ts
Due: eslint --fix, prettier --write

fix: align Error.cause typing with ES2022 target after runtime type refactor
  functions/compare/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: reduce explicit any usage in backend endpoints (#275)
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/search/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: tighten ambient common module declarations (#276)
  functions/_types/ambient-common.d.ts
  functions/_types/common-modules.d.ts
Due: eslint --fix, prettier --write

refactor: reuse shared D1 typings from cache in letterboxd friends
  functions/letterboxd/cache/index.ts
  functions/letterboxd/friends/index.ts
Due: eslint --fix, prettier --write

fix: resolve TS2352 cast mismatch for D1 results
  functions/compare/index.ts
  functions/search/index.ts
Due: eslint --fix, prettier --write

fix: tighten cache and friends runtime typings (#277)
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/letterboxd/avatar-proxy/index.ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/friends/index.ts
  functions/search/index.ts
Due: eslint --fix, prettier --write

fix: resolve TS2345 cast mismatch for D1 results in compare
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

fix: reduce any usage in letterboxd compare and test endpoints (#278)
  functions/letterboxd/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-lookup.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
Due: eslint --fix, prettier --write

fix: tighten tmdb sync typing and db contracts (#279)
  functions/admin/tmdb-sync/index.ts
Due: eslint --fix, prettier --write

chore: bump version to 2.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: address copilot review comments on PR 286
  CHANGELOG.md
  functions/letterboxd/watchlist-count/index.ts
  package.json
Due: eslint --fix, prettier --write

fix: address PR 286 follow-up copilot review feedback
  functions/api/watchlist-comparison/index.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  package.json
Due: eslint --fix, prettier --write

chore: Version bump to 2.1.5 and tooling / typing hygiene (#286)
  CHANGELOG.md
  functions/_lib/common.d.ts
  functions/_types/ambient-common.d.ts
  functions/_types/common-modules.d.ts
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/letterboxd/avatar-proxy/index.ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/search/index.ts
  functions/test/movie-lookup.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: sync main (v2.1.5) back into develop
  CHANGELOG.md
  functions/api/watchlist-comparison/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: automate main-to-develop sync after releases
  .github/copilot-instructions.md
  .github/workflows/changelog-update.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/sync-main-to-develop.yml
Due: prettier --write

fix: address Copilot review comments on PR #297
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/sync-main-to-develop.yml
Due: none

chore: automate main-to-develop sync after releases (#297)
  .github/copilot-instructions.md
  .github/workflows/changelog-update.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/sync-main-to-develop.yml
Due: prettier --write

chore: sync main (v2.1.5) back into develop (#296)
  CHANGELOG.md
  functions/api/watchlist-comparison/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Revise Dependabot auto-merge configuration
  .github/workflows/dependabot-auto-merge.yml
Due: none

Potential fix for pull request finding
  .github/workflows/dependabot-auto-merge.yml
Due: none

Revise Dependabot auto-merge configuration (#305)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: group react/react-dom/@types updates in Dependabot
  .github/dependabot.yml
Due: none

chore: group react/react-dom/@types updates in Dependabot (#306)
  .github/dependabot.yml
Due: none

chore: trim editor/devcontainer recommendations to project-relevant tools
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
Due: prettier --write

chore: ignore .claude/settings.local.json
  .gitignore
Due: none

docs: sync README with current version and app flow
  README.md
Due: prettier --write

docs: sync README with current version and app flow (#314)
  README.md
Due: prettier --write

chore: trim editor/devcontainer recommendations to project-relevant tools (#313)
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  functions/letterboxd/watchlist-count/index.ts
Due: eslint --fix, prettier --write

chore(release): v2.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(shell): resolve SonarCloud issues in shell scripts
  .codacy/cli.sh
  .devcontainer/post-create.sh
  .github/scripts/retry-failed-checks.sh
  scripts/setup-git-hooks.sh
  scripts/setup-gpg.sh
  scripts/test-versioning-workflows.sh
Due: none

fix(src): resolve SonarCloud issues in frontend and utility scripts
  scripts/check-supported-version.cjs
  scripts/emergency-rollback.js
  scripts/sync-favicon.mjs
  src/App.tsx
  src/__tests__/attribution-modal.test.tsx
  src/__tests__/cacheService.test.ts
  src/components/FriendAvatar.tsx
  src/components/FriendSelectionPage.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
  src/services/watchlistFetcher.ts
  src/utils/genreClassMap.ts
Due: eslint --fix, prettier --write

fix(src): address PR review — guard fromCodePoint, fix AI headers
  scripts/check-supported-version.cjs
  scripts/sync-favicon.mjs
  src/components/ResultsPage.tsx
Due: eslint --fix, prettier --write

fix(shell): address PR review — source-safe exit and stable backup name
  scripts/setup-git-hooks.sh
  scripts/setup-gpg.sh
Due: none

fix(shell): resolve 35 SonarCloud issues in shell scripts (#316)
  .codacy/cli.sh
  .devcontainer/post-create.sh
  .github/scripts/retry-failed-checks.sh
  scripts/setup-git-hooks.sh
  scripts/setup-gpg.sh
  scripts/test-versioning-workflows.sh
Due: none

docs(functions): correct generateFallbackId comment on collision safety
  functions/compare/index.ts
Due: eslint --fix, prettier --write

fix(functions): resolve SonarCloud issues in Cloudflare functions
  functions/_lib/common.js
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/letterboxd/[username].ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends-list.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-lookup.ts
Due: eslint --fix, prettier --write

fix(functions): address PR review — reliability hardening
  functions/compare/index.ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
Due: eslint --fix, prettier --write

fix(functions): address PR review round 2
  functions/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-lookup.ts
Due: eslint --fix, prettier --write

fix(css): resolve SonarCloud duplicate-selector and contrast issues
  src/App.css
  src/index.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
