Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

ci: enforce clippy -D dead_code; add ts-prune report to frontend checks; npm scripts for prune\n\nAI Generated: GitHub Copilot - 2025-08-15
  .github/workflows/backend-quality-checks.yml
  .github/workflows/frontend-quality-checks.yml
  package.json
Due: prettier --write

ci: make clippy dead_code step report-only for now\n\nAI Generated: GitHub Copilot - 2025-08-15
  .github/workflows/backend-quality-checks.yml
Due: none

chore: enforce Rust dead-code checks and report TS unused exports (#56)
  .github/workflows/backend-quality-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .vscode/tasks.json
  package.json
  scripts/dead-code-scan.ps1
  src-tauri/Cargo.toml
  src-tauri/src/scrape.rs
  src-tauri/src/tmdb.rs
  src/services/tmdbService.vitest.test.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore(scripts): add Windows wrappers for MCP restart/stop with npm fallbacks; improve docs; test: skip legacy placeholder (Jest→Vitest) [#54]\n\nAI Generated: GitHub Copilot - 2025-08-16
  .codacy/codacy.yaml
  .github/workflows/codeql.yml
  .vscode/tasks.json
  package.json
  scripts/README.md
  scripts/aggressive-clippy-fix.sh
  scripts/attic/README.md
  scripts/attic/aggressive-clippy-fix.sh
  scripts/attic/fix-all-77-issues.sh
  scripts/attic/ultimate-clippy-fix.sh
  scripts/fix-all-77-issues.sh
  scripts/mcp-restart.ps1
  scripts/mcp-status.ps1
  scripts/mcp-stop.ps1
  scripts/ultimate-clippy-fix.sh
  src/services/__tests__/cacheService.test.ts
  src/services/__tests__/tmdbService.minimal.test.ts
  src/services/tmdbService.vitest.test.ts
  src/setupTests.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Update scripts/mcp-restart.sh
  scripts/mcp-restart.sh
Due: none

chore: scripts + test cleanup (Windows wrappers, Jest→Vitest neutralization) [#54] (#57)
  package-lock.json
  scripts/README.md
  scripts/mcp-restart.sh
Due: prettier --write

chore(ci): sync PR title/body to GitHub PR number [#58]\n\nAI Generated: GitHub Copilot - 2025-08-16
  .github/workflows/pr-title-sync.yml
Due: none

feat: Complete Cloudflare web transformation
  CLOUDFLARE_DEPLOYMENT.md
  README.md
  eslint.config.js
  functions/admin/tmdb-sync.ts
  functions/compare/index.ts
  functions/letterboxd/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  functions/search/index.js
  index.html
  migrations/001_create_tmdb_catalog.sql
  package.json
  src/App.tsx
  src/main-web.tsx
  src/services/cloudflareBackend.ts
  src/services/webCacheService.ts
  wrangler.toml
Due: eslint --fix, prettier --write

feat: Complete Cloudflare deployment and database setup
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-wal
  eslint.config.js
  functions/_lib/common.js
  functions/search/index.js
  functions/search/index.ts
  init-database.ps1
  wrangler.toml
Due: eslint --fix, prettier --write

fix(tmdb): improve API authentication and add deployment test endpoint
  functions/admin/tmdb-sync.ts
  functions/test/index.ts
  init-database.ps1
Due: eslint --fix, prettier --write

feat(ui): improve movie card layout with larger posters and bottom friend tags
  src/App.css
Due: prettier --write

fix(ui): restore friend tag visibility and remove duplicate CSS
  src/App.css
Due: prettier --write

fix(api): add friendList and friendCount to movie comparison response
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

feat(ui): increase movie card height to 750px for better visual proportions
  src/App.css
Due: prettier --write

feat(ui): reduce movie details section height by 50px
  src/App.css
Due: prettier --write

fix(ui): prevent main user's name from appearing multiple times on movie cards
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

fix(api): eliminate duplicate usernames in movie friend lists
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

feat(sorting): implement proper two-tier sorting for movie results
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

feat(discovery): enable inclusive group movie discovery
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

feat(ui): implement unified consistent user colors across app
  src/App-web.tsx
Due: eslint --fix, prettier --write

fix(filtering): ensure movies require minimum 2 friends after deduplication
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

feat(branding): introduce Buddio mascot throughout application
  README.md
  public/buddio.svg
  src/App-web.tsx
  src/App.css
Due: eslint --fix, prettier --write

feat: enhance Buddio size and improve movie matching accuracy
  functions/letterboxd/compare/index.ts
  src/App.css
Due: eslint --fix, prettier --write

fix(ui): align BoxdBuddy text with subtitle for better visual balance
  src/App.css
Due: prettier --write

feat(ui): perfect header alignment with 110px left offset
  src/App.css
Due: prettier --write

fix(matching): improve movie title matching logic to prevent false positives
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

fix(security): resolve CodeQL URL validation vulnerability in avatar-proxy
  functions/letterboxd/avatar-proxy/index.ts
Due: eslint --fix, prettier --write

fix(security): address CodeQL alerts and improve code quality
  enhanced-tmdb-sync.ps1
  functions/letterboxd/compare/index.ts
  src/App-web.tsx
Due: eslint --fix, prettier --write

fix(ci): resolve failing CI/CD checks and security vulnerabilities
  .github/workflows/pr-conversation-handler.yml
  functions/letterboxd/avatar-proxy/index.ts
Due: eslint --fix, prettier --write

fix(workflows): comprehensive CI/CD workflow fixes and optimization
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-conversation-handler.yml
Due: none

fix(codeql): resolve Rust analysis path confusion and semantic analyzer warning
  .github/codeql/codeql-config.yml
  src/main.rs
Due: none

fix(cloudflare): correct pages build output directory path
  wrangler.toml
Due: none

fix(ui): correctly move BoxdBuddy text closer to Buddio icon
  src/App.css
  src/App.tsx
Due: eslint --fix, prettier --write

fix(ui): fine-tune BoxdBuddy text position 20px right
  src/App.css
Due: prettier --write

fix: apply manual improvements to workflows, documentation, and source files
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/windows-peruser-msi-test.yml
  .vscode/tasks.json
  README.md
  SETUP.md
  src/main-web.tsx
  src/main.tsx
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
Due: eslint --fix, prettier --write

fix(security): enhance avatar-proxy URL validation per Copilot review
  functions/letterboxd/avatar-proxy/index.ts
Due: eslint --fix, prettier --write
