Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

fix: revert @eslint/js to 9.39.2 for typescript-eslint compatibility (#213)
  package-lock.json
  package.json
Due: prettier --write

Update .vscode/settings.json to remove SonarLint connected mode configuration
  .vscode/settings.json
Due: prettier --write

Add example VS Code settings for BoxdBuddies development
  .vscode/settings.json.example
Due: none

fix: restore proper VS Code workspace settings without personal credentials
  .vscode/settings.json
Due: prettier --write

feat: add local-first code quality infrastructure with jscpd and updated guidelines
  package.json
Due: prettier --write

Update package.json to restore correct content and add jscpd functionality
  package.json
Due: prettier --write

fix: restore package.json configuration
  package.json
Due: prettier --write

fix: repair workspace settings JSON
  .vscode/settings.json
Due: prettier --write

fix: sync package-lock for jscpd
  package-lock.json
Due: prettier --write

refactor: eliminate duplicated mock setup in watchlist test
  package-lock.json
  src/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

feat: implement Gitflow branching infrastructure (#214)
  .github/CODEOWNERS
  .github/chatmodes/Custom.chatmode.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/pr-retarget.yml
  .husky/pre-push
  .vscode/extensions.json
  .vscode/settings.json.example
  POST_MERGE_INSTRUCTIONS.md
  README.md
  github-rulesets/feature-branch-ruleset.json
  package-lock.json
  scripts/setup-git-hooks.sh
  src/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

fix: enable quality workflows on develop-targeted PRs (#221)
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
Due: none

docs: update CHANGELOG for PR #214 (#215)
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
  CHANGELOG.md
Due: prettier --write

Update .github/workflows/docs-only-required-checks.yml
  .github/workflows/docs-only-required-checks.yml
Due: none

Fix branch protection rulesets using incorrect status check contexts (#223)
  .github/workflows/code-quality-analysis.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/security-audit.yml
  github-rulesets/BEFORE-AFTER-COMPARISON.md
  github-rulesets/IMPORT-INSTRUCTIONS.md
  github-rulesets/README.md
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write

docs: update CHANGELOG for PR #216 (#225)
  CHANGELOG.md
Due: prettier --write

fix: move PR #223 changelog entry to Fixed section (#226)
  CHANGELOG.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #220 (#227)
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #223 (#224)
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #217 (#228)
  CHANGELOG.md
Due: prettier --write

chore: resolve npm audit vulnerabilities with ecosystem workaround
  .npmrc
  docs/npm-audit-decision.md
  package-lock.json
  package.json
Due: prettier --write

chore: resolve npm audit vulnerabilities with ecosystem workaround
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: add missing @testing-library/dom peer dependency
  package-lock.json
  package.json
Due: prettier --write

chore: restore husky git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Update docs/npm-audit-decision.md
  docs/npm-audit-decision.md
Due: prettier --write

chore: resolve npm audit vulnerabilities with ecosystem workaround (#229)
  .husky/commit-msg
  .husky/pre-push
  .npmrc
  docs/npm-audit-decision.md
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG for PR #229 (#230)
  CHANGELOG.md
Due: prettier --write

chore: cleanup unnecessary workflows and branch protection rules
  .github/workflows/background-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-checks-watcher.yml
  .github/workflows/pr-conversation-handler.yml
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
Due: prettier --write

chore: enhance workflow triggers for better CI/CD management
  .github/workflows/debug-pages-build.yml
  .github/workflows/security-supported-versions-check.yml
Due: none

chore: consolidate quality checks, remove frontend-quality-checks
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/workflow-only-required-checks.yml
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write

chore: cleanup and consolidate GitHub workflows (#231)
  .github/workflows/background-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/debug-pages-build.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-checks-watcher.yml
  .github/workflows/pr-conversation-handler.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/workflow-only-required-checks.yml
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write
