Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

chore(ci): remove temporary CodeQL placeholder and backend-quality-checks resolver
  .github/codeql/python_placeholder.py
  .github/workflows/backend-quality-checks-resolver.yml
Due: none

test(tidy): update realBackend tests for relative endpoints
  src/__tests__/realBackend.test.ts
Due: eslint --fix, prettier --write

fix(lib): correct common.d.ts declarations to avoid uninitialized const error in Pages Functions build
  functions/_lib/common.d.ts
Due: eslint --fix, prettier --write

ci(temp): add Background Quality Checks resolver workflow to satisfy pending status
  .github/workflows/background-quality-checks-resolver.yml
Due: none

ci(temp): add minimal permissions and AI attribution to Background Quality Checks workflow
  .github/workflows/background-quality-checks-resolver.yml
Due: none

ci(temp): add backend-quality-checks resolver workflow to satisfy required status context
  .github/workflows/backend-quality-checks-resolver.yml
Due: none

ci(temp): clarify permissions and attribution in background-quality-checks-resolver.yml
  .github/workflows/background-quality-checks-resolver.yml
Due: none

chore(ci): remove temporary CodeQL placeholder and backend-quality-checks resolver (#88)
  .github/codeql/python_placeholder.py
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/background-quality-checks-resolver.yml
  functions/_lib/common.d.ts
  src/__tests__/realBackend.test.ts
Due: eslint --fix, prettier --write

chore(ci): replace temporary backend-quality-checks resolver with real CI
  .github/workflows/backend-quality-checks-resolver.yml
Due: none

tidy/remove temp ci (#89)
  .github/workflows/backend-quality-checks-resolver.yml
Due: none

chore: finalize local fixes on watchlist-cache-implementation before push
  functions/api/watchlist-count-updates/index.ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/friends/index.ts
  src/__tests__/cacheService.idb.test.ts
  src/__tests__/cacheService.test.ts
  src/__tests__/watchlistFetcher.integration.test.ts
  src/services/watchlistFetcher.ts
Due: eslint --fix, prettier --write

chore: fix linter warnings in tests and watchlist fetcher
  src/__tests__/cacheService.idb.test.ts
  src/services/watchlistFetcher.ts
Due: eslint --fix, prettier --write

fix: make D1 types explicit and add safe parsing in cache module
  functions/letterboxd/cache/index.ts
Due: eslint --fix, prettier --write

feat: watchlist cache setup (#86)
  .gitignore
  CACHE_BEHAVIOR.md
  ROLLOUT_PLAN.md
  TEST_RESULTS_SUMMARY.md
  WORKFLOW_STATUS.md
  docs/server-watchlist-cache-design.md
  functions/__tests__/cache.unit.test.ts
  functions/admin/tmdb-sync.ts
  functions/admin/tmdb-sync/index.ts
  functions/admin/tmdb-test/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/letterboxd/[username].ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends-list.ts
  functions/letterboxd/friends/index.ts
  functions/letterboxd/test-movies/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/scheduled/tmdb-daily-update/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  functions/search/index.ts
  functions/search/index.tsx
  functions/test/db-test.ts
  functions/test/index.ts
  src/__tests__/cacheService.idb.test.ts
  src/__tests__/watchlistFetcher.integration.test.ts
  src/config/featureFlags.ts
  src/services/watchlistFetcher.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

test(attribution): add modal test and sync dialog with React state
  .github/copilot-instructions.md
  .gitignore
  package-lock.json
  package.json
  pr-comment.md
  src/App.css
  src/App.tsx
  src/__tests__/attribution-modal.test.tsx
  src/index.css
  src/types.d.ts
Due: eslint --fix, prettier --write

feat(attribution): add accessible attribution modal and tests (#90)
  .github/copilot-instructions.md
  .gitignore
  package-lock.json
  package.json
  pr-comment.md
  src/App.css
  src/App.tsx
  src/__tests__/attribution-modal.test.tsx
  src/index.css
  src/types.d.ts
Due: eslint --fix, prettier --write

chore(cleanup): remove unused src/types.d.ts and update Copilot instructions for attribution modal
  .github/copilot-instructions.md
  src/types.d.ts
Due: eslint --fix, prettier --write

chore(cleanup): remove unused src/types.d.ts and update Copilot instructions for attribution modal (#91)
  .github/copilot-instructions.md
  src/types.d.ts
Due: eslint --fix, prettier --write

chore(docs,lint): type HTMLDialogElement ref, add ESLint global, and document in Copilot instructions
  .github/copilot-instructions.md
  eslint.config.js
  src/App.tsx
Due: eslint --fix, prettier --write

chore(docs,lint): type HTMLDialogElement ref, add ESLint global, and document in Copilot instructions (#92)
  .github/copilot-instructions.md
  eslint.config.js
  src/App.tsx
Due: eslint --fix, prettier --write

feat(ui): responsive friends grid and results card sizing (450x650)
  src/index.css
Due: prettier --write

refactor(css): consolidate index.css grids, fix nonstandard selectors, and dedupe friend/movie styles
  .github/copilot-instructions.md
  src/index.css
Due: prettier --write

chore(ui): dedupe CSS, canonicalize styles in src/index.css; remove duplicates from src/App.css
  src/App.css
  src/components/SetupPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

fix(ui): restore global dark theme and friend-card base styles; re-align headers
  src/index.css
Due: prettier --write

feat(ui): 450x650 movie cards and centered up-to-3-col grids (Results & Friends)
  src/index.css
Due: prettier --write

docs: document centered grids and 450×650 card conventions in copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

Update src/index.css
  src/index.css
Due: prettier --write

feat/minimal 450x650 and centered grids (#94)
  .github/copilot-instructions.md
  src/index.css
Due: prettier --write

feat(compare): D1-only multi-strategy enrichment, add /test/movie-lookup; UI: dynamic cards + catalog copy; infra: no-store compare responses
  .github/copilot-instructions.md
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/test/movie-lookup.ts
  scripts/tmdb-sync.ps1
  src/App.tsx
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(compare): small defensive header tune and comments
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

Results optimization: D1-only compare, dynamic cards, and test endpoint (#103)
  .github/copilot-instructions.md
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/test/movie-lookup.ts
  scripts/tmdb-sync.ps1
  src/App.tsx
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(functions): normalize poster_path to relative path; add README note; add reducer test
  .github/copilot-instructions.md
  functions/README.md
  functions/__tests__/reduceMovie.test.ts
  functions/_lib/common.js
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(tests,infra): add compare integration test; ensure local sync & debug telemetry
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-wal
  functions/__tests__/watchlist-comparison.integration.test.ts
  functions/api/watchlist-comparison/index.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

fix(watchlist): restore watchlist-comparison handler, preserve matching telemetry gating and title-year extraction; lint cleanup
  functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-count-updates/index.ts
Due: eslint --fix, prettier --write

fix(ui): strengthen dynamic-cards and scope legacy CSS
  package-lock.json
  src/App.css
  src/index.css
Due: prettier --write

fix(ui): shrink dynamic movie-cards (400→300) and align friend-tag font-size
  src/index.css
Due: prettier --write

chore(css): dedupe .results-page.dynamic-cards .movie-card block
  src/index.css
Due: prettier --write

chore(format): apply prettier formatting across repo
  functions/_lib/common.js
  functions/health/index.js
  functions/popular/index.js
Due: none
