Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

fix: add missing '📊 Generate Report' stub to scope-based workflows
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/workflow-only-required-checks.yml
Due: none

docs: update CHANGELOG for PR #231 (#233)
  CHANGELOG.md
Due: prettier --write

fix: convert deleted workflows to temporary stubs
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
Due: none

chore(ci): add pre-upload agent prompt and security exceptions documentation
  .github/prompts/pre-upload.prompt.md
  docs/security-exceptions.md
Due: prettier --write

chore(prompts): integrate changelog update into pre-upload workflow (Step 8b)
  .github/prompts/pre-upload.prompt.md
Due: prettier --write

chore(instructions): clarify AI attribution should use actual model name
  .github/copilot-instructions.md
Due: prettier --write

fix(docs): address remaining PR #234 review comments
  .github/copilot-instructions.md
  docs/security-exceptions.md
Due: prettier --write

chore(ci): sync rulesets with actual GitHub configuration
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write

Update .github/prompts/pre-upload.prompt.md
  .github/prompts/pre-upload.prompt.md
Due: prettier --write

chore(ci): add pre-upload agent prompt and security exceptions documentation (#234)
  .github/copilot-instructions.md
  .github/prompts/pre-upload.prompt.md
  docs/security-exceptions.md
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write

docs: update CHANGELOG for PR #235
  CHANGELOG.md
Due: prettier --write

Update .github/instructions/sonarqube_mcp.instructions.md
  .github/instructions/sonarqube_mcp.instructions.md
Due: prettier --write

chore(prompts): add pre-upload quality check agent workflow
  .github/instructions/sonarqube_mcp.instructions.md
  .github/prompts/pre-upload.prompt.md
  CHANGELOG.md
  functions/__tests__/watchlist-count-updates.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync.ts
  functions/health/index.js
  migrations/004_create_incremental_sync_tracking.sql
Due: eslint --fix, prettier --write

fix(instructions): move applyTo into valid YAML frontmatter
  .github/instructions/sonarqube_mcp.instructions.md
Due: prettier --write

fix(review): address Copilot reviewer feedback on PR #235
  .github/prompts/pre-upload.prompt.md
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
  migrations/004_create_incremental_sync_tracking.sql
Due: prettier --write

fix(tests): consolidate Cache Integration imports to eliminate CPD duplication
  functions/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

chore(tests): update AI attribution header in watchlist-count-updates tests
  functions/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

docs: update CHANGELOG for PR #235 (CPD fix)
  CHANGELOG.md
Due: prettier --write

fix(tests): hoist dynamic import to outer beforeEach to eliminate CPD duplication
  functions/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

fix(prompts): use signed commit in Step 8b and clarify changelog automation note
  .github/prompts/pre-upload.prompt.md
Due: prettier --write

chore(prompts): add pre-upload quality check agent workflow (#235)
  .github/instructions/sonarqube_mcp.instructions.md
  .github/prompts/pre-upload.prompt.md
  CHANGELOG.md
  functions/__tests__/watchlist-count-updates.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync.ts
  functions/health/index.js
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
  migrations/004_create_incremental_sync_tracking.sql
Due: eslint --fix, prettier --write

fix(ci): scope npm audit to runtime deps to fix release PR security scan
  .github/workflows/security.yml
Due: none

fix(ci): sign version bump commits with GPG key to satisfy main branch signature requirement
  .github/workflows/version-bump.yml
Due: none

chore(ci): pin ghaction-import-gpg to full commit SHA (v6.3.0)
  .github/workflows/version-bump.yml
Due: none

fix: address all Copilot review comments on PR #236
  .husky/commit-msg
  github-rulesets/BEFORE-AFTER-COMPARISON.md
  github-rulesets/IMPORT-INSTRUCTIONS.md
  github-rulesets/README.md
Due: prettier --write

chore: bump version to 2.1.2 (#236)
  .github/copilot-instructions.md
  .github/instructions/sonarqube_mcp.instructions.md
  .github/prompts/pre-upload.prompt.md
  .github/workflows/background-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/debug-pages-build.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-checks-watcher.yml
  .github/workflows/pr-conversation-handler.yml
  .github/workflows/pr-retarget.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/security.yml
  .github/workflows/version-bump.yml
  .github/workflows/workflow-only-required-checks.yml
  .husky/commit-msg
  .husky/pre-push
  .npmrc
  CHANGELOG.md
  docs/npm-audit-decision.md
  docs/security-exceptions.md
  functions/__tests__/watchlist-count-updates.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync.ts
  functions/health/index.js
  github-rulesets/BEFORE-AFTER-COMPARISON.md
  github-rulesets/IMPORT-INSTRUCTIONS.md
  github-rulesets/README.md
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
  migrations/004_create_incremental_sync_tracking.sql
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(devcontainer): enhance devcontainer setup
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  .vscode/settings.json
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #238
  CHANGELOG.md
Due: prettier --write

chore(devcontainer): address security and documentation review feedback
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .gitignore
Due: prettier --write

chore: remove local user workspace settings
  .vscode/settings.json
Due: prettier --write

chore(devcontainer): enhance devcontainer setup (#238)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .vscode/settings.json
  CHANGELOG.md
Due: prettier --write

chore(tmdb-cron): update cron schedule
  workers/tmdb-cron/README.md
  workers/tmdb-cron/wrangler.toml
Due: prettier --write

docs: update CHANGELOG for PR #239
  CHANGELOG.md
Due: prettier --write

chore(tmdb-cron): update cron schedule (#239)
  CHANGELOG.md
  workers/tmdb-cron/README.md
  workers/tmdb-cron/wrangler.toml
Due: prettier --write

Removing duplicate "typescript" and "vite" entries from devDependencies
  package.json
Due: prettier --write

Update package.json with new content
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
