Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

chore(lint): add minimal stylelint config for CSS checks
  .stylelintrc.json
Due: prettier --write

chore: add stylelint artifacts and cleanup report
  .ai-internal/cleanupreport.md
  stylelint-report.json
Due: prettier --write

chore/poster normalization readme (#104)
  .ai-internal/cleanupreport.md
  .github/copilot-instructions.md
  .stylelintrc.json
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-wal
  functions/README.md
  functions/__tests__/reduceMovie.test.ts
  functions/__tests__/watchlist-comparison.integration.test.ts
  functions/_lib/common.js
  functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-count-updates/index.ts
  functions/health/index.js
  functions/popular/index.js
  package-lock.json
  src/App.css
  src/components/ResultsPage.tsx
  src/index.css
  src/utils/index.ts
  stylelint-report.json
Due: eslint --fix, prettier --write

chore: remove legacy buddio.svg asset (replace with boxdbudio.png)
  .github/copilot-instructions.md
  CACHE_BEHAVIOR.md
  README.md
  ROLLOUT_PLAN.md
  TEST_RESULTS_SUMMARY.md
  docs/brand/boxdbud.io.svg
  functions/README.md
  functions/__tests__/apostrophe-handling.test.ts
  functions/__tests__/normalize-title.test.ts
  functions/__tests__/stripped-title-match.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/health/index.js
  functions/letterboxd/[username].ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends-list.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/search/index.ts
  index.html
  package-lock.json
  package.json
  public/boxdbudio.png
  public/buddio.svg
  src/App.css
  src/App.tsx
  src/__tests__/results-back-button.test.tsx
  src/components/ResultsPage.tsx
  src/index.css
  src/linux-fixes.css
  src/main.tsx
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
  src/styles.css
Due: eslint --fix, prettier --write

chore: commit recent edits to SetupPage.tsx
  src/components/SetupPage.tsx
Due: eslint --fix, prettier --write

chore: remove debug console.logs and fix README formatting
  README.md
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

chore: UI cleanup (#105)
  .github/copilot-instructions.md
  CACHE_BEHAVIOR.md
  README.md
  ROLLOUT_PLAN.md
  TEST_RESULTS_SUMMARY.md
  docs/brand/boxdbud.io.svg
  functions/README.md
  functions/__tests__/apostrophe-handling.test.ts
  functions/__tests__/normalize-title.test.ts
  functions/__tests__/stripped-title-match.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/health/index.js
  functions/letterboxd/[username].ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends-list.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/search/index.ts
  index.html
  package-lock.json
  package.json
  public/boxdbudio.png
  public/buddio.svg
  src/App.css
  src/App.tsx
  src/__tests__/results-back-button.test.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  src/index.css
  src/linux-fixes.css
  src/main.tsx
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
  src/styles.css
Due: eslint --fix, prettier --write

Remove brand colors from README
  README.md
Due: prettier --write

Remove brand colors from README (#106)
  README.md
Due: prettier --write

chore: clean artifacts, add GitHub links in attribution modal, add AI attribution update guide
  .gitignore
  docs/ai-attribution-update-guide.md
  functions/admin/tmdb-sync.ts
  functions/admin/tmdb-sync/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  scripts/tmdb-sync.ps1
  src/App.tsx
  src/__tests__/apostrophe-display.test.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
Due: eslint --fix, prettier --write

chore: purge generated artifacts and secrets (.env, logs, dist, stylelint report)
  stylelint-report.json
Due: prettier --write

Update src/components/ResultsPage.tsx
  src/components/ResultsPage.tsx
Due: eslint --fix, prettier --write

Chore: attribution cleanup + GitHub links (#107)
  .gitignore
  docs/ai-attribution-update-guide.md
  functions/admin/tmdb-sync.ts
  functions/admin/tmdb-sync/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  scripts/tmdb-sync.ps1
  src/App.tsx
  src/__tests__/apostrophe-display.test.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  stylelint-report.json
Due: eslint --fix, prettier --write

chore(release): bump to 2.0.0 and add release notes
  docs/release-2.0.0.md
  package.json
Due: prettier --write

docs(release): clarify v1 Desktop → v2 Web migration in release notes
  docs/release-2.0.0.md
Due: prettier --write

chore(security): add v2.0.x to supported versions
  SECURITY.md
Due: prettier --write

Chore: attribution cleanup + GitHub links + release note update (#108)
  SECURITY.md
  docs/release-2.0.0.md
  package.json
  src/components/ResultsPage.tsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 48: Double escaping or unescaping
  functions/letterboxd/[username].ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 48: Double escaping or unescaping (#109)
  functions/letterboxd/[username].ts
Due: eslint --fix, prettier --write

feat(results): polish genre chip UX (focus, spacing, responsive, reduced-motion)
  src/index.css
Due: prettier --write

chore(results): move filters toggle to header right; use arrow symbols for sort direction
  src/__tests__/results-filtering.test.ts
  src/__tests__/results-page-filters.test.tsx
  src/__tests__/results-sorting.test.ts
  src/components/ResultsPage.tsx
  src/utils/filterSort.ts
Due: eslint --fix, prettier --write

[WIP] Fix reported bugs. (#115)
  package-lock.json
  src/App.css
Due: prettier --write

feat(results): show genres as badges on results movie cards; add styles and test
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-wal
  functions/__tests__/backfill-selection.test.ts
  functions/__tests__/backfill-sql-behavior.test.ts
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-backfill-all.test.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-movieid.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
  functions/admin/tmdb-sync/index.ts
  scripts/tmdb-sync.ps1
  src/__tests__/genres-display.test.tsx
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(test): restore default vitest script and remove problematic wrapper
  package.json
  scripts/run-vitest.cjs
  scripts/run-vitest.js
  src/App.tsx
  src/index.css
Due: eslint --fix, prettier --write

chore(git): ignore wrangler local state files
  .gitignore
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/eb7e07f9233ceefed01ce7288ba1326e974e031024132d7a5cd0ba133ed9714b.sqlite-wal
Due: none

chore(test): remove experimental vitest wrapper scripts
  scripts/run-vitest.cjs
  scripts/run-vitest.js
Due: none

fix(compare): improve TMDB matching (tokenized LIKE and yearless fallbacks)
  .github/copilot-instructions.md
  functions/__tests__/enrich-specific-movies.test.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/letterboxd/compare/index.ts
  package-lock.json
  src/__tests__/genre-filtering.test.tsx
  src/__tests__/genreClassMap.test.ts
  src/components/ResultsPage.tsx
  src/index.css
  src/utils/genreClassMap.ts
Due: eslint --fix, prettier --write

fix(compare): avoid regex over untrusted HTML to prevent ReDoS (code scan)
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

fix(api): decodeHtmlEntities unescape '&' last to avoid double-unescape (CodeQL)
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

fix(types): remove duplicate declarations in common.d.ts to satisfy eslint no-redeclare
  functions/__tests__/parseGenresToNames.test.ts
  functions/_lib/common.js
  functions/_lib/common.js.d.ts
  functions/_types/ambient-common.d.ts
  functions/_types/common-modules.d.ts
  functions/api/watchlist-comparison/index.ts
  functions/letterboxd/compare/index.ts
  src/__tests__/genre-badge-keyboard.test.tsx
Due: eslint --fix, prettier --write

fix(types): declare parseGenresToNames in _lib/common.d.ts to satisfy TS imports
  functions/_lib/common.d.ts
Due: eslint --fix, prettier --write

feat(ui): add header-level Clear filters button; remove per-card Clear; improve genre badge a11y (aria-pressed, focus-visible)
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

Fix TMDB matching for results + include genres on matched results (#116)
  .github/copilot-instructions.md
  .gitignore
  functions/__tests__/backfill-selection.test.ts
  functions/__tests__/backfill-sql-behavior.test.ts
  functions/__tests__/enrich-specific-movies.test.ts
  functions/__tests__/parseGenresToNames.test.ts
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-backfill-all.test.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-movieid.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
  functions/_lib/common.d.ts
  functions/_lib/common.js
  functions/_lib/common.js.d.ts
  functions/_types/ambient-common.d.ts
  functions/_types/common-modules.d.ts
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/letterboxd/compare/index.ts
  package-lock.json
  package.json
  scripts/tmdb-sync.ps1
  src/App.tsx
  src/__tests__/genre-badge-keyboard.test.tsx
  src/__tests__/genre-filtering.test.tsx
  src/__tests__/genreClassMap.test.ts
  src/__tests__/genres-display.test.tsx
  src/components/ResultsPage.tsx
  src/index.css
  src/utils/genreClassMap.ts
Due: eslint --fix, prettier --write

docs: update README and AI instructions for genres feature; bump version to 2.1.0
  .github/copilot-instructions.md
  README.md
  package.json
Due: prettier --write

docs: update README and AI instructions for genres feature; bump version to 2.1.0 (#122)
  .github/copilot-instructions.md
  README.md
  package.json
Due: prettier --write

Fix security audit failure by updating vite to 7.1.12 (#138)
  package-lock.json
  package.json
Due: prettier --write

fix(deps): align react-dom version with react 19.2.0 (#139)
  package-lock.json
  package.json
Due: prettier --write

Update .github/workflows/version-bump.yml
  .github/workflows/version-bump.yml
Due: none
