Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

fix(css): restore light text on disabled primary buttons
  src/App.css
  src/index.css
Due: prettier --write

fix(css): drop redundant margin-bottom overridden by margin shorthand
  src/App.css
  src/index.css
Due: prettier --write

fix(css): address PR review — mobile overflow and redundant margins
  src/App.css
  src/index.css
Due: prettier --write

Potential fix for pull request finding
  src/App.css
Due: prettier --write

Potential fix for pull request finding
  src/index.css
Due: prettier --write

fix(css): style the modal backdrop button, drop redundant padding
  src/App.css
Due: prettier --write

fix(css): resolve 74 SonarCloud issues (duplicate selectors + contrast) (#317)
  src/App.css
  src/index.css
Due: prettier --write

fix(functions): address PR review round 3
  functions/letterboxd/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
Due: eslint --fix, prettier --write

fix(functions): resolve ~60 SonarCloud issues in Cloudflare functions (#318)
  functions/_lib/common.js
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/letterboxd/[username].ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends-list.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-lookup.ts
Due: eslint --fix, prettier --write

chore(docs): drop tool prefix from AI attribution header convention
  .github/copilot-instructions.md
  functions/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
Due: eslint --fix, prettier --write

fix(scripts): drop tool prefix from AI attribution headers
  scripts/check-supported-version.cjs
  scripts/sync-favicon.mjs
Due: none

fix(src): resolve ~53 SonarCloud issues in frontend and scripts (#319)
  scripts/check-supported-version.cjs
  scripts/emergency-rollback.js
  scripts/sync-favicon.mjs
  src/App.tsx
  src/__tests__/attribution-modal.test.tsx
  src/__tests__/cacheService.test.ts
  src/components/FriendAvatar.tsx
  src/components/FriendSelectionPage.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
  src/services/watchlistFetcher.ts
  src/utils/genreClassMap.ts
Due: eslint --fix, prettier --write

chore(docs): sweep remaining GitHub-Copilot-prefixed attribution headers
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .github/CODEOWNERS
  .github/chatmodes/Custom.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/sonarqube_mcp.instructions.md
  .github/prompts/pre-upload.prompt.md
  .github/workflows/changelog-update-gate.yml
  .github/workflows/changelog-update.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy-worker.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/pr-retarget.yml
  .github/workflows/sync-main-to-develop.yml
  .github/workflows/workflow-only-required-checks.yml
  .husky/pre-push
  .vscode/extensions.json
  .vscode/settings.json.example
  POST_MERGE_INSTRUCTIONS.md
  README.md
  docs/npm-audit-decision.md
  docs/security-exceptions.md
  eslint.config.js
  functions/__tests__/watchlist-count-updates.test.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  scripts/setup-git-hooks.sh
  vite.config.ts
  workers/tmdb-cron/DEPLOYMENT.md
  workers/tmdb-cron/README.md
  workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/wrangler.toml
Due: eslint --fix, prettier --write

chore(docs): tag AI attribution headers with model name only (#325)
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .github/CODEOWNERS
  .github/chatmodes/Custom.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/sonarqube_mcp.instructions.md
  .github/prompts/pre-upload.prompt.md
  .github/workflows/changelog-update-gate.yml
  .github/workflows/changelog-update.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy-worker.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/pr-retarget.yml
  .github/workflows/sync-main-to-develop.yml
  .github/workflows/workflow-only-required-checks.yml
  .husky/pre-push
  .vscode/extensions.json
  .vscode/settings.json.example
  POST_MERGE_INSTRUCTIONS.md
  README.md
  docs/npm-audit-decision.md
  docs/security-exceptions.md
  eslint.config.js
  functions/__tests__/watchlist-count-updates.test.ts
  functions/compare/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/test/movie-search.ts
  functions/test/tmdb-check.ts
  scripts/setup-git-hooks.sh
  vite.config.ts
  workers/tmdb-cron/DEPLOYMENT.md
  workers/tmdb-cron/README.md
  workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/wrangler.toml
Due: eslint --fix, prettier --write

fix(results): stop nesting genre-filter buttons inside movie-card anchor
  src/components/ResultsPage.tsx
  src/index.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
