Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

ci: run required checks for changelog PRs
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
Due: none

ci: avoid untrusted checkout in PR target
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
Due: none

ci: add docs-only required checks
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
Due: none

fix: ensure version bump PR checks run
  .github/workflows/version-bump.yml
  docs/versioning-and-releases.md
Due: prettier --write

fix: ensure version bump PR checks run (#190)
  .github/workflows/version-bump.yml
  docs/versioning-and-releases.md
Due: prettier --write

Fix CHANGELOG formatting inconsistencies and prevent future occurrences (#192)
  .github/workflows/changelog-update.yml
  CHANGELOG.md
Due: prettier --write

ci: fix changelog and version bump workflows
  .github/workflows/changelog-update.yml
  .github/workflows/version-bump.yml
Due: none

ci: reject fork PRs in changelog-update to prevent secret exposure
  .github/workflows/changelog-update.yml
Due: none

ci: harden workflow security and pin actions
  .github/workflows/changelog-update.yml
  .github/workflows/version-bump.yml
Due: none

ci: split changelog workflow for security
  .github/workflows/changelog-update-gate.yml
  .github/workflows/changelog-update.yml
Due: none

ci: harden changelog PR number handling
  .github/workflows/changelog-update.yml
Due: none

ci: avoid untrusted outputs in changelog update
  .github/workflows/changelog-update.yml
Due: none

ci: fix changelog and version bump workflows (#200)
  .github/workflows/changelog-update-gate.yml
  .github/workflows/changelog-update.yml
  .github/workflows/version-bump.yml
Due: none

ci: harden workflow_run PR context handling
  .github/workflows/changelog-update.yml
Due: none

Update .github/workflows/changelog-update.yml
  .github/workflows/changelog-update.yml
Due: none

ci: harden changelog workflow_run PR context (#201)
  .github/workflows/changelog-update.yml
Due: none

ci: add workflow-only required checks
  .github/workflows/changelog-update.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/workflow-only-required-checks.yml
Due: none

ci: guard docs/workflow stubs
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/workflow-only-required-checks.yml
Due: none

ci: add workflow-only required checks (#203)
  .github/workflows/changelog-update.yml
  .github/workflows/docs-only-required-checks.yml
  .github/workflows/workflow-only-required-checks.yml
Due: none

docs: update CHANGELOG for PR #203 (#204)
  CHANGELOG.md
Due: prettier --write

chore: bump version to 2.1.1 (#205)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: skip changelog workflow for release PRs (#207)
  .github/workflows/changelog-update-gate.yml
  .github/workflows/changelog-update.yml
  docs/versioning-and-releases.md
Due: prettier --write

Update workers/tmdb-cron/DEPLOYMENT.md
  workers/tmdb-cron/DEPLOYMENT.md
Due: prettier --write

Update workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/src/index.ts
Due: eslint --fix, prettier --write

Replace manual TMDB sync script with Cloudflare Worker cron job (#208)
  package-lock.json
  workers/tmdb-cron/DEPLOYMENT.md
  workers/tmdb-cron/README.md
  workers/tmdb-cron/package-lock.json
  workers/tmdb-cron/package.json
  workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/tsconfig.json
  workers/tmdb-cron/wrangler.toml
Due: eslint --fix, prettier --write

docs: update CHANGELOG for PR #208 (#209)
  CHANGELOG.md
Due: prettier --write

fix: harden admin auth and cleanup cron sync
  .devcontainer/devcontainer.json
  .github/workflows/deploy-worker.yml
  eslint.config.js
  functions/__tests__/tmdb-backfill-all.test.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-current-year.test.ts
  functions/__tests__/tmdb-sync-movieid.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
  functions/admin/tmdb-sync/index.ts
  functions/scheduled/tmdb-daily-update/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  package-lock.json
  scripts/sync-tmdb-database.ps1
  scripts/tmdb-sync.ps1
  workers/tmdb-cron/README.md
  workers/tmdb-cron/package-lock.json
  workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/wrangler.toml
Due: eslint --fix, prettier --write

chore: dedupe admin sync test setup
  .github/workflows/deploy-worker.yml
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-backfill-all.test.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-movieid.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
Due: eslint --fix, prettier --write

Update functions/admin/tmdb-sync/index.ts
  functions/admin/tmdb-sync/index.ts
Due: eslint --fix, prettier --write

Update workers/tmdb-cron/README.md
  workers/tmdb-cron/README.md
Due: prettier --write

fix: harden admin auth and sync tests
  .github/workflows/deploy-worker.yml
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
  functions/admin/tmdb-sync/index.ts
  wrangler-scheduler.toml
Due: eslint --fix, prettier --write

fix: harden admin auth and cleanup cron sync (#210)
  .devcontainer/devcontainer.json
  .github/workflows/deploy-worker.yml
  eslint.config.js
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-backfill-all.test.ts
  functions/__tests__/tmdb-backfill.integration.test.ts
  functions/__tests__/tmdb-sync-changes.test.ts
  functions/__tests__/tmdb-sync-current-year.test.ts
  functions/__tests__/tmdb-sync-movieid.test.ts
  functions/__tests__/tmdb-sync-pages.test.ts
  functions/__tests__/tmdb-sync-sentinel.test.ts
  functions/admin/tmdb-sync/index.ts
  functions/scheduled/tmdb-daily-update/index.ts
  functions/scheduled/tmdb-delta-sync.ts
  package-lock.json
  scripts/sync-tmdb-database.ps1
  scripts/tmdb-sync.ps1
  workers/tmdb-cron/README.md
  workers/tmdb-cron/package-lock.json
  workers/tmdb-cron/src/index.ts
  workers/tmdb-cron/wrangler.toml
  wrangler-scheduler.toml
Due: eslint --fix, prettier --write

fix(ci): pin node to 20.19.0
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/build-application.yml
  .github/workflows/deploy-worker.yml
  .github/workflows/test-suite.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #195 (#212)
  CHANGELOG.md
Due: prettier --write

docs: update CHANGELOG for PR #210 (#211)
  CHANGELOG.md
Due: prettier --write

chore(ci): add .nvmrc for node 20.19.0
  .nvmrc
Due: none

test: add tmdb sync test helpers
  functions/__tests__/test-utils.ts
  functions/__tests__/tmdb-sync-pages.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
