Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

Update scripts/test-versioning-workflows.sh
  scripts/test-versioning-workflows.sh
Due: none

feat: add automated versioning and changelog management workflows (#162)
  .github/workflows/changelog-update.yml
  .github/workflows/test-suite.yml
  .github/workflows/version-bump.yml
  CHANGELOG.md
  README.md
  docs/versioning-and-releases.md
  docs/versioning-workflow-diagram.md
  package.json
  scripts/test-versioning-workflows.sh
Due: prettier --write

Update index.html
  index.html
Due: none

docs: update all site references from dev (boxdbud.pages.dev) to production (boxdbud.io) (#163)
  README.md
  functions/compare/index.ts
  index.html
  package-lock.json
  package.json
  src/services/cloudflareBackend.ts
Due: eslint --fix, prettier --write

docs: update CHANGELOG.md unreleased section with PRs merged since 9/13/2025 (#164)
  CHANGELOG.md
Due: prettier --write

fix(tests): replace vi.mocked() with vi.spyOn() for static method mocks (#175)
  functions/__tests__/friends-cache-integration.test.ts
  src/__tests__/watchlistFetcher.test.ts
Due: eslint --fix, prettier --write

Update GitHub workflows to Node.js 20.19.0 for Vite 7.x compatibility and fix test isolation (#174)
  .github/workflows/code-quality-analysis.yml
  .github/workflows/debug-pages-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/security.yml
  functions/__tests__/friends-cache-integration.test.ts
  src/__tests__/watchlistFetcher.test.ts
Due: eslint --fix, prettier --write

chore: consolidate fixes
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/build-application.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/debug-pages-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .github/workflows/version-bump.yml
  .vscode/settings.json
  PR_CONSOLIDATED_FIXES.md
  SECURITY.md
  functions/__tests__/tmdb-sync-current-year.test.ts
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/letterboxd/friends/index.ts
  package-lock.json
  package.json
  scripts/sync-tmdb-database.ps1
Due: eslint --fix, prettier --write

fix: harden changelog workflow
  .github/workflows/changelog-update.yml
Due: none

fix: harden regex parsing
  .github/workflows/changelog-update.yml
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

fix: avoid direct PR ref in release workflow
  .github/workflows/create-release.yml
Due: none

test: reduce duplication in tmdb sync tests
  functions/__tests__/tmdb-sync-current-year.test.ts
Due: eslint --fix, prettier --write

fix: prevent watchlist parser hang
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

Update functions/admin/tmdb-sync/index.ts
  functions/admin/tmdb-sync/index.ts
Due: eslint --fix, prettier --write

Update functions/letterboxd/friends/index.ts
  functions/letterboxd/friends/index.ts
Due: eslint --fix, prettier --write

Update functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

Fix version-bump workflow summary to reference automatic release workflow (#177)
  .github/workflows/version-bump.yml
Due: none

Remove developer-specific SonarLint config from workspace settings (#178)
  .vscode/settings.json
  README.md
Due: prettier --write

chore: update utils and friends test
  functions/__tests__/friends-cache-integration.test.ts
  functions/_lib/common.js
  src/utils.ts
Due: eslint --fix, prettier --write

fix: prefer globalThis browser APIs
  src/App.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

fix: consolidate workflow fixes for changelog and version bump, address security vulnerabilities (#176)
  .github/workflows/backend-quality-checks-resolver.yml
  .github/workflows/build-application.yml
  .github/workflows/changelog-update.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/debug-pages-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .github/workflows/version-bump.yml
  PR_CONSOLIDATED_FIXES.md
  README.md
  SECURITY.md
  docs/versioning-and-releases.md
  docs/versioning-workflow-diagram.md
  functions/__tests__/friends-cache-integration.test.ts
  functions/__tests__/tmdb-sync-current-year.test.ts
  functions/_lib/common.js
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/letterboxd/friends/index.ts
  package-lock.json
  package.json
  scripts/sync-tmdb-database.ps1
  src/App.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

test: align friends fresh scrape expectation
  functions/__tests__/friends-cache-integration.test.ts
Due: eslint --fix, prettier --write

Update .github/workflows/version-bump.yml
  .github/workflows/version-bump.yml
Due: none

test: fix navigator.onLine test isolation in watchlistFetcher (#180)
  src/__tests__/watchlistFetcher.test.ts
Due: eslint --fix, prettier --write

ci: open PR for changelog updates
  .github/workflows/changelog-update.yml
Due: none

ci: open PR for changelog updates (#181)
  .github/workflows/changelog-update.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore: prevent changelog PR loop and update changelog
  .github/workflows/changelog-update.yml
  CHANGELOG.md
Due: prettier --write

fix: make changelog workflow guards effective
  .github/workflows/changelog-update.yml
Due: none

chore: prevent changelog PR loop and update changelog (#184)
  .github/workflows/changelog-update.yml
  CHANGELOG.md
Due: prettier --write

docs: fix CHANGELOG entry formatting to match project style (#186)
  CHANGELOG.md
Due: prettier --write

chore: sign version bump commits
  .github/workflows/version-bump.yml
Due: none

chore: update devcontainer scripts and docs
  .devcontainer/devcontainer.json
  .devcontainer/mcp-monitor.sh
  .devcontainer/setup-with-mcp.sh
  .devcontainer/start-mcp-servers.sh
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  README.md
  scripts/README.md
  scripts/mcp-restart.sh
  scripts/mcp-status.sh
  scripts/mcp-stop.sh
Due: prettier --write

chore: pin actions in version bump
  .github/workflows/version-bump.yml
Due: none

docs: address PR feedback
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
Due: prettier --write

docs: fix installation list numbering
  README.md
Due: prettier --write

chore: update workflow signing and cleanup (#187)
  .devcontainer/devcontainer.json
  .devcontainer/mcp-monitor.sh
  .devcontainer/setup-with-mcp.sh
  .devcontainer/start-mcp-servers.sh
  .github/copilot-instructions.md
  .github/workflows/version-bump.yml
  .gitignore
  .vscode/settings.json
  CHANGELOG.md
  README.md
  scripts/README.md
  scripts/mcp-restart.sh
  scripts/mcp-status.sh
  scripts/mcp-stop.sh
Due: prettier --write
