Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"],
  "src-tauri/src/*.rs": ["rustfmt --edition 2021"]
}

ci: fix sccache install by unsetting RUSTC_WRAPPER; set release input default to v1.0.0; robust checksum globbing
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
Due: none

ci(release): fix YAML to place default under inputs.version for workflow_dispatch
  .github/workflows/release.yml
Due: none

ci(release,wix): log missing artifact patterns; make Linux artifact upload warn; document preserving WiX component GUID
  .github/workflows/release.yml
  src-tauri/wix/main.wxs
Due: none

ci: use prebuilt sccache action on all OSes to fix Windows install failure (E0432 CreateProcessW); default v1.0.0 intact
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
Due: none

ci(windows): run per-user MSI test on PRs to main and current branch
  .github/workflows/windows-peruser-msi-test.yml
Due: none

ci(windows): enforce ALLUSERS=2 validation in MSI test and release workflows
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
Due: none

docs(install): document per-user MSI, v1.0.0 links, and checksum verification
  INSTALL.md
Due: prettier --write

ci: per-user MSI verified; sccache prebuilt; Ubuntu 24.04 compat; docs updated for v1.0.0
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
  INSTALL.md
  src-tauri/wix/main.wxs
Due: prettier --write

docs(readme): highlight Windows per-user MSI (no admin) and clarify install location
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs(readme): highlight Windows per-user MSI (no admin) and clarify install location (#13)
  README.md
Due: prettier --write

ci: make mcp-status non-fatal in CI (warn-only)
  scripts/mcp-status.sh
Due: none

ci(security): harden supported versions check script (CJS) and set minimal workflow permissions
  .github/workflows/security-supported-versions-check.yml
  scripts/check-supported-version.cjs
  scripts/check-supported-version.js
Due: none

ci(security): fix workflow indentation and add minimal permissions; run CJS script under Node 18
  .github/workflows/security-supported-versions-check.yml
Due: none

docs/workflows/security: per-user Windows MSI, remove macOS, add security version check; fix CI
  .github/workflows/build-application.yml
  .github/workflows/release.yml
  .github/workflows/security-supported-versions-check.yml
  PROJECT_STATUS.md
  README.md
  SECURITY.md
  scripts/check-supported-version.cjs
  scripts/mcp-status.sh
  src-tauri/wix/main.wxs
Due: prettier --write

fix(installer): per-user MSI baseline (remove multi-scope attempt)
  src-tauri/wix/main.wxs
Due: none

docs(readme): per-user MSI details & signing section
  .github/workflows/release.yml
  .github/workflows/windows-peruser-msi-test.yml
  README.md
  src-tauri/wix/main.wxs
Due: prettier --write

build(installer): fix WiX Icon placement for ARPPRODUCTICON
  src-tauri/wix/main.wxs
Due: none

ci(release): add GPG signing for CHECKSUMS.txt
  .github/workflows/release.yml
  README.md
Due: prettier --write

ci(release): address PR feedback (indent fix, conditional signature asset)
  .github/workflows/release.yml
Due: none

build(installer): temporarily remove ARPPRODUCTICON to resolve light.exe failure
  src-tauri/wix/main.wxs
Due: none

feat: add GitHub Pages deployment workflow for web frontend
  .github/workflows/deploy-web-frontend.yml
Due: none

feat: add GitHub Pages deployment workflow for web frontend (#19)
  .github/workflows/deploy-web-frontend.yml
Due: none

fix(security): remove TMDB API key storage from frontend
  web/frontend/.eslintrc.json
  web/frontend/src/App.tsx
  web/frontend/src/env.d.ts
  web/frontend/src/services/secureBackend.ts
  web/worker/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/081b5c2f736c86d05c075c7c7e62dbd7f1df1232bbf75c835dd9b16e49e7aead.sqlite-shm
  web/worker/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/081b5c2f736c86d05c075c7c7e62dbd7f1df1232bbf75c835dd9b16e49e7aead.sqlite-wal
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/4ad9f26e0cb20487c525f8afbb8b8666037c8347a2a5e5baf1f32a9ee031a07a00000198919bef90
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/9ba447b347c5ded43b9f81a85110baa3ed539ba68944da1ede5b900ee25fb44400000198919afa5b
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/e545a04670c94e52267668f90a6dd9f99ee2ba9ad84019077c9b387ea16beed7000001989199ed5f
  wrangler.toml
Due: eslint --fix, prettier --write

[SECURITY FIXED] feat(web): add React frontend for BoxdBuddies web application (#20)
  package-lock.json
  web/frontend/.eslintrc.json
  web/frontend/.gitignore
  web/frontend/README.md
  web/frontend/eslint.config.js
  web/frontend/index.html
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/App.tsx
  web/frontend/src/env.d.ts
  web/frontend/src/index.css
  web/frontend/src/main.tsx
  web/frontend/src/services/mockBackend.ts
  web/frontend/src/services/secureBackend.ts
  web/frontend/src/utils/logger.ts
  web/frontend/src/utils/progressUtils.ts
  web/frontend/src/vite-env.d.ts
  web/frontend/tsconfig.json
  web/frontend/vite.config.ts
  web/worker/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/081b5c2f736c86d05c075c7c7e62dbd7f1df1232bbf75c835dd9b16e49e7aead.sqlite-shm
  web/worker/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/081b5c2f736c86d05c075c7c7e62dbd7f1df1232bbf75c835dd9b16e49e7aead.sqlite-wal
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/4ad9f26e0cb20487c525f8afbb8b8666037c8347a2a5e5baf1f32a9ee031a07a00000198919bef90
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/9ba447b347c5ded43b9f81a85110baa3ed539ba68944da1ede5b900ee25fb44400000198919afa5b
  web/worker/.wrangler/state/v3/kv/REPLACE_WITH_KV_ID/blobs/e545a04670c94e52267668f90a6dd9f99ee2ba9ad84019077c9b387ea16beed7000001989199ed5f
  wrangler.toml
Due: eslint --fix, prettier --write

fix: correct Vite base path for Cloudflare Pages deployment
  web/frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix: correct Vite base path for Cloudflare Pages
  web/frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix: correct Vite base path for Cloudflare Pages (#23)
  web/frontend/vite.config.ts
Due: eslint --fix, prettier --write

chore(ci): sync root package-lock with workspaces for Cloudflare npm ci; add worker pkg; wrangler pages_build_output_dir; ignore frontend lockfile
  .gitignore
  package-lock.json
  web/worker/package.json
  wrangler.toml
Due: prettier --write

ci: fix PR conversation handler script context and YAML; dynamic timestamps; sanitize outputs
  .github/workflows/pr-conversation-handler.yml
Due: none

chore(rust): fix clippy needless_borrows_for_generic_args in db pragma_update\n\n// AI Generated: GitHub Copilot - 2025-08-11
  src-tauri/src/db.rs
Due: rustfmt --edition 2021

ci: hotfix PR conversation handler workflow (#39)
  .github/workflows/pr-conversation-handler.yml
  src-tauri/src/db.rs
Due: rustfmt --edition 2021

fix(security): sanitize scrape logs to avoid logging usernames and friend names (CodeQL)
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

chore(deps): align React 19 upgrade (react, react-dom, @types/react, @types/react-dom)
  package-lock.json
  package.json
Due: prettier --write

fix(security): keep PII out of logs while preserving friend names in results
  src-tauri/src/scrape.rs
Due: rustfmt --edition 2021

chore(web/frontend): add @types/node and @types/jest to fix TS type resolution under Vite 7
  web/frontend/package-lock.json
  web/frontend/package.json
Due: prettier --write

ci(pages): configure-pages enablement and trigger path; remove invalid environment block
  .github/workflows/deploy-web-frontend.yml
Due: none

ci: remove GitHub Pages workflow (Cloudflare-only deploys)
  .github/workflows/deploy-web-frontend.yml
Due: none
