Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

feat: enhance security and code quality across platform
  enhanced-tmdb-sync.ps1
  functions/letterboxd/avatar-proxy/index.ts
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

fix: correct typo in main.tsx header comment and PowerShell formatting
  enhanced-tmdb-sync.ps1
  src/main.tsx
Due: eslint --fix, prettier --write

fix: update CI workflows for web-only deployment architecture
  .github/workflows/backend-quality-checks.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/license-compliance-check.yml
Due: none

fix: correct Cloudflare Pages build configuration for web-only deployment
  wrangler.toml
Due: none

fix: Remove build section from wrangler.toml for Cloudflare Pages
  wrangler.toml
Due: none

fix: upgrade vitest to 3.2.4 to resolve esbuild security vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: restore build section in wrangler.toml to override dashboard config
  wrangler.toml
Due: none

fix: remove [build] section from wrangler.toml and add pages:build script
  package.json
  wrangler.toml
Due: prettier --write

fix: update project name to boxdbud to match main branch deployment
  wrangler.toml
Due: none

fix: UI improvements for better user experience
  src/App.css
  src/App.tsx
Due: eslint --fix, prettier --write

feat(web): deploy fully functional web app to production
  package-lock.json
  package.json
Due: prettier --write

fix(ui): correctly move BoxdBuddy text closer to Buddio icon
  src/App.css
Due: prettier --write

fix(ui): fine-tune BoxdBuddy text position 20px right
  src/App.css
Due: prettier --write

fix: apply manual improvements to workflows, documentation, and source files
  .github/workflows/backend-quality-checks.yml
  .github/workflows/codeql.yml
  src/main.tsx
Due: eslint --fix, prettier --write

fix: reorganize letterboxd function routing
  _routes.json
  functions/letterboxd/[username].ts
  functions/letterboxd/friends-list.ts
Due: eslint --fix, prettier --write

fix: add routing configuration for Cloudflare Functions
  _routes.json
  functions/api/health.ts
Due: eslint --fix, prettier --write

fix: remove accidentally committed temporary files
  .playwright-mcp/current-state.png
  tatus
Due: none

fix: repair corrupted copyright header in src/main.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

fix: remove conflicting letterboxd index.ts file
  .playwright-mcp/current-state.png
  functions/letterboxd/index.ts
  tatus
Due: eslint --fix, prettier --write

fix: resolve CI failures - license headers, naming consistency, remove Rust dependencies
  .github/workflows/code-quality-analysis.yml
  .github/workflows/license-compliance-check.yml
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
Due: eslint --fix, prettier --write

fix: resolve CodeQL configuration conflict with default setup
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/license-compliance-check.yml
Due: none

fix: disable custom CodeQL workflow to resolve SARIF processing conflict
  .github/workflows/codeql.yml.disabled
Due: none

docs: add CodeQL configuration documentation
  .github/workflows/README-CodeQL.md
Due: prettier --write

fix: improve PR conversation handler robustness
  .github/workflows/pr-conversation-handler.yml
Due: none

ci: remove backend workflow requirements from GitHub rulesets
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
Due: prettier --write

ci: improve PR conversation handler robustness
  .github/workflows/pr-conversation-handler.yml
Due: none

ci: add minimal backend and build workflows for branch protection
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
Due: none

🔧 Fix: Restore Cloudflare API Routing and Consolidate Projects (#62)
  .github/codeql/codeql-config.yml
  .github/workflows/README-CodeQL.md
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/codeql.yml.disabled
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-conversation-handler.yml
  _routes.json
  functions/api/health.ts
  functions/letterboxd/[username].ts
  functions/letterboxd/friends-list.ts
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/feature-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  github-rulesets/release-hotfix-ruleset.json
  package-lock.json
  package.json
  src/services/cacheService.ts
  src/services/cloudflareBackend.ts
Due: eslint --fix, prettier --write

feat: implement high priority API enhancements
  functions/_lib/common.js
  functions/health/index.js
  functions/popular/index.js
Due: none

docs: comprehensive documentation audit and web platform alignment
  BRAND_USAGE_POLICY.md
  BUILD_TRIGGER.md
  CASE_CONVERSION_SOLUTION.md
  CHANGELOG.md
  CONTRIBUTING.md
  DOCUMENTATION_AUDIT_COMPLETE.md
  INSTALL.md
  PROJECT_STATUS.md
  PUBLIC_RELEASE_CHECKLIST.md
  README.md
  RELEASE_NOTES.md
  RELEASE_PLAN.md
  SECURITY.md
  THIRD_PARTY_LICENSES.md
  docs/TAURI_V2_MIGRATION.md
  docs/USER_GUIDE.md
Due: prettier --write

fix: address Copilot PR review comments in common.js
  functions/_lib/common.js
Due: none

Update functions/_lib/common.js
  functions/_lib/common.js
Due: none

🚀 API Capability Expansion & Complete Documentation Audit (#64)
  BRAND_USAGE_POLICY.md
  BUILD_TRIGGER.md
  CASE_CONVERSION_SOLUTION.md
  CHANGELOG.md
  CONTRIBUTING.md
  DOCUMENTATION_AUDIT_COMPLETE.md
  INSTALL.md
  PROJECT_STATUS.md
  PUBLIC_RELEASE_CHECKLIST.md
  README.md
  RELEASE_NOTES.md
  RELEASE_PLAN.md
  SECURITY.md
  THIRD_PARTY_LICENSES.md
  docs/TAURI_V2_MIGRATION.md
  docs/USER_GUIDE.md
  functions/_lib/common.js
  functions/health/index.js
  functions/popular/index.js
Due: prettier --write

ci(actions): fix PR Conversation Handler triggers; always-run report (#65)
  .github/workflows/pr-conversation-handler.yml
  functions/_lib/common.js
  functions/popular/index.js
  github-rulesets/develop-branch-ruleset.json
  github-rulesets/main-branch-ruleset.json
  update_branch_protection.json
Due: prettier --write

chore(deps-dev): bump @vitejs/plugin-react from 4.7.0 to 5.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump @types/node from 20.19.11 to 24.3.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
