Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

Update archived/cloudflare/scripts/dead-code-scan.ps1
  archived/cloudflare/scripts/dead-code-scan.ps1
Due: none

chore(cache): enable watchlist cache for manual QA
  src/config/featureFlags.ts
Due: eslint --fix, prettier --write

feat: watchlist cache setup
  CACHE_BEHAVIOR.md
  ROLLOUT_PLAN.md
  TEST_RESULTS_SUMMARY.md
  WORKFLOW_STATUS.md
  docs/server-watchlist-cache-design.md
  functions/__tests__/watchlist-count-updates.test.ts
  functions/api/watchlist-count-updates/index.ts
  src/__tests__/watchlist-count-updates.test.ts
  src/__tests__/watchlistFetcher.integration.test.ts
  src/__tests__/watchlistFetcher.test.ts
  src/config/watchlistCache.ts
  src/services/watchlistFetcher.ts
Due: eslint --fix, prettier --write

feat: watchlist cache setup
  .gitignore
  functions/__tests__/cache.unit.test.ts
  functions/__tests__/friends-cache-integration.test.ts
  src/__tests__/cacheService.idb.test.ts
  src/__tests__/cacheService.test.ts
  src/__tests__/config.test.ts
  src/__tests__/friendSelection.e2e.test.tsx
  src/__tests__/metrics.test.ts
  src/__tests__/realBackend.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: complete watchlist caching system with full test coverage
  functions/__tests__/cache.unit.test.ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/friends/index.ts
  src/services/cacheService.ts
  src/services/realBackend.ts
Due: eslint --fix, prettier --write

fix: Complete test fixing workflow - achieve 94/94 tests passing
  package-lock.json
  package.json
  src/config/featureFlags.ts
  src/utils/index.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write

feat(ci): add comprehensive test suite workflow
  .github/workflows/test-suite.yml
Due: none

feat: Complete CI/CD pipeline fixes - TypeScript compilation and CodeQL security analysis
  .github/codeql/codeql-config.yml
  functions/api/watchlist-count-updates/index.ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/friends/index.ts
  src/__tests__/cacheService.idb.test.ts
  src/__tests__/cacheService.test.ts
  src/__tests__/watchlistFetcher.integration.test.ts
Due: eslint --fix, prettier --write

chore(audit): add post-cleanup audit report (Sept 2025) [AI Generated: GitHub Copilot - 2025-09-06]
  .ai-internal/cleanupreport.md
Due: prettier --write

chore(cleanup): align functions and IDE settings with web-only stack; add debug helpers; fix tmdbService shim
  .vscode/settings.json
  functions/_lib/common.js
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore(cleanup): neutralize duplicate helper declarations; remove @ts-nocheck and clear mocks in cache tests
  functions/__tests__/cache.unit.test.ts
  functions/_lib/common-ambient.d.ts
  functions/_lib/common-module-declare.d.ts
  functions/_lib/common.d.ts
  functions/_lib/common.js
  functions/_lib/common.js.d.ts
  functions/_types/ambient-common.d.ts
  functions/_types/common-modules.d.ts
  functions/admin/tmdb-sync.ts
  functions/admin/tmdb-sync/index.ts
  functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-count-updates/index.ts
  functions/compare/index.ts
  functions/health/index.js
  functions/letterboxd/[username].ts
  functions/letterboxd/cache/index.ts
  functions/letterboxd/compare/index.ts
  functions/letterboxd/friends/index.ts
  functions/letterboxd/watchlist-count/index.ts
  functions/popular/index.js
  functions/scheduled/tmdb-daily-update/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

docs(audit): add post-cleanup report (2025-09-06)
  .ai-internal/cleanupreport.md
Due: prettier --write

chore: remove legacy .eslintignore (use ESLint 'ignores' in config)
  .eslintignore
Due: none

fix(config): use centralized logger and remove unused var; typed mutable flags
  src/config/featureFlags.ts
Due: eslint --fix, prettier --write

chore(types): remove neutralized duplicate .d.ts files under functions/_lib (canonical types in functions/_types)
  .ai-internal/cleanupreport.md
  .eslintignore
  .vscode/settings.json
Due: prettier --write

test: remove redundant IDB-focused cache test to reduce lint noise; update cleanup report
  .ai-internal/cleanupreport.md
Due: prettier --write

test: remove redundant IDB-focused cache test to reduce lint noise
  src/__tests__/cacheService.idb.test.ts
Due: eslint --fix, prettier --write

test(watchlist-count-updates): remove any casts and replace console debug with typed assertions
  src/__tests__/watchlist-count-updates.test.ts
Due: eslint --fix, prettier --write

chore(pr): add prepared PR comment file for PR #87
  pr-comment.md
Due: prettier --write

fix(utils/watchlist): align compare endpoint; watchlist fetcher: metric increment & per-user etag handling; add docs
  src/__tests__/cacheService.test.ts
  src/__tests__/realBackend.test.ts
  src/__tests__/watchlistFetcher.integration.test.ts
  src/services/watchlistFetcher.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

chore(security): add minimal SECURITY.md to satisfy CI check
  SECURITY.md
Due: prettier --write

fix(cache): normalize friend shape in setCachedFriends and avoid caller mapping
  functions/letterboxd/cache/index.ts
Due: eslint --fix, prettier --write

docs(friends): add JSDoc to internal rateLimit helper
  functions/letterboxd/friends/index.ts
Due: eslint --fix, prettier --write

docs(flags): explain mutable cast in emergencyDisableCache for reviewers
  src/config/featureFlags.ts
Due: eslint --fix, prettier --write

docs: add Supported Versions table to SECURITY.md for CI check
  SECURITY.md
Due: prettier --write

ci(codeql): add Python placeholder to avoid Python analysis config errors
  .github/codeql/python_placeholder.py
Due: none

ci(debug): add workflow to reproduce Pages build on Ubuntu for debugging
  .github/workflows/debug-pages-build.yml
Due: none

ci(status): create workflow to report backend-quality-checks success on PRs
  .github/workflows/backend-quality-checks-resolver.yml
Due: none

ci(pr): add workflow to comment when PR checks complete successfully
  .github/workflows/pr-checks-watcher.yml
Due: none

ci(pr): robust PR comment when CI workflows complete successfully
  .github/workflows/pr-checks-watcher.yml
Due: none

ci(pages): make pages:build non-destructive and debug workflow simulate Pages build
  .github/workflows/debug-pages-build.yml
  package.json
Due: prettier --write

ci: normalize codeql placeholder and PR watcher formatting
  .github/codeql/python_placeholder.py
  .github/workflows/pr-checks-watcher.yml
Due: none

chore(ci): remove broken functions/_lib/common.d.ts to fix Pages Functions build
  functions/_lib/common.d.ts
Due: eslint --fix, prettier --write

Update functions/_lib/common.js
  functions/_lib/common.js
Due: none

chore(review): merge conflict resolution for debugLog
  functions/_lib/common.js
  functions/letterboxd/friends/index.ts
  src/services/realBackend.ts
Due: eslint --fix, prettier --write

chore(review): finalize reviewer suggestions
  functions/_lib/common.d.ts
Due: eslint --fix, prettier --write

chore(review): resolve merge conflict and harden debugLog
  functions/_lib/common.js
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
