Repository Wootehfook/BoxdBuddies: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

ci(deps): bump actions/checkout from 4 to 5
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-conversation-handler.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/security.yml
Due: none

chore(deps-dev): bump @vitejs/plugin-react from 4.7.0 to 5.0.1 (#74)
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump @types/node from 20.19.11 to 24.3.0 (#75)
  package-lock.json
  package.json
Due: prettier --write

ci(deps): bump actions/checkout from 4 to 5 (#76)
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-conversation-handler.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/security.yml
Due: none

perf(react): implement comprehensive React performance optimizations
  .github/workflows/backend-quality-checks.yml
  .github/workflows/build-application.yml
  .github/workflows/code-quality-analysis.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/license-compliance-check.yml
  .github/workflows/pr-conversation-handler.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-supported-versions-check.yml
  .github/workflows/security.yml
  REACT_PERFORMANCE_OPTIMIZATION_REPORT.md
  src/App.tsx
  src/components/PerformanceMonitor.tsx
Due: eslint --fix, prettier --write

feat: Complete Priority 2 Performance Optimizations
  .github/chatmodes/Custom.chatmode.md
  REACT_PERFORMANCE_OPTIMIZATION_REPORT.md
  functions/compare/index.ts
  scripts/.disabled-extensions.txt
  src/App.tsx
  src/components/FriendAvatar.tsx
  src/components/FriendSelectionPage.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --write

fix: resolve avatar proxy 400 errors by fixing overly strict URL validation
  functions/letterboxd/avatar-proxy/index.ts
Due: eslint --fix, prettier --write

fix: resolve stale closure causing 'No friends found' during watchlist count loading
  src/App.tsx
Due: eslint --fix, prettier --write

fix: resolve API parameter mismatch preventing movie comparison results
  functions/compare/index.ts
Due: eslint --fix, prettier --write

chore: add comprehensive debug logging to track movie comparison process
  functions/compare/index.ts
Due: eslint --fix, prettier --write

fix: resolve adblocker blocking by moving comparison endpoint
  functions/api/watchlist-comparison/index.ts
  src/utils.ts
Due: eslint --fix, prettier --write

fix: improve movie matching algorithm to find common movies
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

chore: trigger preview deployment with enhanced matching algorithm
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

chore: add granular movie matching debug logging for zero results investigation
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

fix: improve Letterboxd scraping with multiple regex patterns
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

feat: Major improvements to watchlist comparison logic
  functions/api/watchlist-comparison/index.ts
  src/App.tsx
Due: eslint --fix, prettier --write

Update src/utils.ts
  src/utils.ts
Due: eslint --fix, prettier --write

Update functions/api/watchlist-comparison/index.ts
  functions/api/watchlist-comparison/index.ts
Due: eslint --fix, prettier --write

feat: Complete Priority 2 React Performance Optimizations (#77)
  .github/chatmodes/Custom.chatmode.md
  REACT_PERFORMANCE_OPTIMIZATION_REPORT.md
  functions/api/watchlist-comparison/index.ts
  functions/compare/index.ts
  functions/letterboxd/avatar-proxy/index.ts
  scripts/.disabled-extensions.txt
  src/App.tsx
  src/components/FriendAvatar.tsx
  src/components/FriendSelectionPage.tsx
  src/components/PerformanceMonitor.tsx
  src/components/ResultsPage.tsx
  src/components/SetupPage.tsx
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --write

fix: Implement real-time TMDB API fallback for PR 77 placeholder data issue
  .github/copilot-instructions.md
  .roo-cline.json
  .vscode/settings.json
  .vscode/tasks.json
  ROO_CODE_SETUP_GUIDE.md
  functions/_lib/tmdbUtils.ts
  functions/letterboxd/compare/index.ts
Due: eslint --fix, prettier --write

chore(tests): remove obsolete Tauri-related tests (web migration cleanup)
  src/services/tmdbService.ts
  tests/vitest/tmdbService.vitest.test.ts
Due: eslint --fix, prettier --write

fix: resolve PR #81 workflow failures
  src/services/tmdbService.ts
  tests/e2e/letterboxd-scraping.spec.ts
  tests/smoke/app-smoke.spec.ts
Due: eslint --fix, prettier --write

fix(deps): align react typings & resolve peer deps for PR #81
  package-lock.json
  package.json
Due: prettier --write

fix(deps): align react typings & resolve peer deps for PR #81
  package.json
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore: address Copilot review comments in tmdbService (typed import.meta.env, static axios import, remove redundant null coalescing)
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

docs: add workflow status tracking for PR #81
  WORKFLOW_STATUS.md
Due: prettier --write

fix(ci): resolve YAML syntax error in pr-conversation-handler workflow
  .github/workflows/pr-conversation-handler.yml
Due: none

Update src/services/tmdbService.ts
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore(tests): remove obsolete Tauri-related tests (web migration cleanup) (#81)
  .github/workflows/pr-conversation-handler.yml
  WORKFLOW_STATUS.md
  functions/api/watchlist-comparison/index.ts
  package-lock.json
  package.json
  src/services/tmdbService.ts
  tests/e2e/letterboxd-scraping.spec.ts
  tests/smoke/app-smoke.spec.ts
  tests/vitest/tmdbService.vitest.test.ts
Due: eslint --fix, prettier --write

chore(archive): move remove_dead_code.py, scripts/dead-code-scan.ps1 to archived/cloudflare - reason: dead-code tooling (scan + helper)
  archived/cloudflare/README.md
  archived/cloudflare/remove_dead_code.py
  archived/cloudflare/scripts/dead-code-scan.ps1
  remove_dead_code.py
  scripts/dead-code-scan.ps1
Due: prettier --write

chore(pr-82): simplify import.meta.env guard in tmdbService per review
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

Update archived/cloudflare/scripts/dead-code-scan.ps1
  archived/cloudflare/scripts/dead-code-scan.ps1
Due: none

chore(pr-82): allow tests to pass when no test files
  package.json
Due: prettier --write

chore(pr-82): resolve merge conflicts in tmdbService.ts
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore(pr-82): unify import.meta.env guard to optional chaining (match main)
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore(archive): move scripts/tmdb-sync.ps1 to archived/cloudflare/scripts — high-risk (#82)
  src/services/tmdbService.ts
Due: eslint --fix, prettier --write

chore(archive): archive database admin scripts (#83)
  archived/cloudflare/README.md
  archived/cloudflare/remove_dead_code.py
  archived/cloudflare/scripts/dead-code-scan.ps1
  remove_dead_code.py
  scripts/dead-code-scan.ps1
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,json,md})
  rustfmt --edition 2021: any of: src-tauri/src/*.rs
